.card {
  width: 98%;
  margin-top: -70px;
}
.card-body {
    margin-top: 20px;
}

.container-fluid {
  margin-top: 20px;
}

.container {
  margin-top: 20px;
}

.flexbox-align {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img_card {
  width: 600px;
  padding-top: 50px;
  padding-left: 50px;
}

.summary {
  margin-top: 30%;
  margin-left: 30px;
  font-weight: bold;
  font-size: 30px;
}

.color1 {
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.color2 {
  font-weight: bold;
  font-size: 20px;
  color: #0976b4;
  margin-top: -20px;
}

.bi-pencil-fill {
  margin-top: -8px;
  margin-left: 5px;
}

.bi-star {
  margin-top: -8px;
  margin-left: 5px;
}

.posted {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.anonymous {
  font-family: Arial, Helvetica, sans-serif;
  color: #0976b4;
  font-size: 16px;
  font-weight: bold;
}

.alignstar {
  margin-top: 10%;
  margin-left: 55%;
}

.alignfecha {
  margin-left: 80px;
}

.fecha {
  margin-left: 10px;
}

.libreta {
  margin-left: 90px;
  margin-top: -20px;
}

/* Movil */

.postedm {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.anonymousm {
  font-family: Arial, Helvetica, sans-serif;
  color: #0976b4;
  font-size: 18px;
  font-weight: bold;
}

.alignstarmovil {
  margin-top: 3%;
  font-size: 14px;
  text-align: center;
}

.alignfecham {
  text-align: center;
}

.alineacionmovil {
  margin-top: 3%;
  text-align: center;
}

.parentesismovil {
  margin-left: 5px;
  margin-top: -55px;
  font-size: 18px;
}

.fecham {
  margin-left: 10px;
  font-size: 18px;
  color: rgb(66, 66, 66);
}

.summarym {
  margin-top: 10px;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.reviewm {
  font-size: 18px;
  color: black;
  margin-top: 30px;
  font-weight: bold;
}

.workm {
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-top: -10px;
}

.naranjamovil {
  margin-top: -20px;
}

.color1m {
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.color2m {
  font-weight: bold;
  font-size: 20px;
  color: #0976b4;
  margin-top: -20px;
}

.alturam {
  margin-top: -20px;
}

.libretam {
  margin-left: 100px;
  margin-top: -55px;
}

@media only screen and (max-width: 320px) {
  .libretam {
    width: 50%;
  }
}

@media only screen and (max-width: 425px) {
  .libretam {
    width: 50%;
  }
}

@media only screen and (max-width: 525px) {
  .libretam {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .libretam {
    width: 50%;
  }
}
